/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html {
  box-sizing: border-box;
}
/**
*,*::before,*::after {
  box-sizing: inherit;
}
**/
body {
  background-color: #1d1d1d;
  font-family: 'Open Sans', sans-serif;
}

/**Globals**/
.content {
  width: 98%;
  margin: 0 auto;
} 

@media only screen and (min-width: 480px) {
  .content {
    width: 95%;
  }
}
@media only screen and (min-width: 768px) {
  content {
    width: 90%;
  }
}

@media only screen and(min-width: 992px) {
  .content {
    width: 90%;
    max-width: 1100px;
  } 
}
.section {
  padding: 50px 0;
  position: relative;
  background-color: #1d1d1d;
}

.section p {
  font-size: 1rem;
  text-align: center;
  color: #f2f2f2;
  margin: 20px;
}
h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

p{
  text-decoration: none;
}






/** ESTO TODAVIA NO VA! :) **/


/** Header **/

div.hero {
  background: url("../img/hero.jpg");
  height: 100vh;
  width: 100%;
  background-position: top center;
  background-size: cover; 
  background-attachment: fixed;
}

div.content-header {
  padding-top: 40px;
}

@media only screen and (min-width: 768px) {
  div.content-header {
    padding-top: 10px;
  }
}

nav.social-media {
  text-align: center;
}
nav.social-media a{
  color: #fff;
  font-size: 1.5rem;
  margin-right: 20px; 
}

nav.social-media a:last-child {
  margin-right: 0;
}
div.event-information {
  text-align: center;
  color: #fff;
}

@media only screen and (min-width: 768px){
  div.event-information {
    width: 70%;
    margin: auto;
    margin-top: 50px;
  }
}
div.event-information p{
  /**margin: 0 **/
  display: inline; 
  font-size: 1rem;
  text-transform: uppercase;
}

div.event-information p i {
  color: #f2f2f2;
  font-size: 1.3rem;
  margin-right: 2%;
}

.event-dates{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.date{
width: 100%;
text-align: left;
}
.city{
  width: 100%;
  text-align: right;
}
p.slogan{
  text-transform: none!important;
}
p.slogan span {
  font-weight: bold;
}
h1.site-name{
  font-size: 5.8vw;
  text-transform: uppercase;
  margin-top: 4%;
  text-align: left;
}
@media only screen and (min-width: 768px){
  h1.site-name{
    font-size: 11.5vw;
    /**margin: auto; **/
    line-height: 1;
  }
}

/**menu**/
div.menu {
  background-color: #101010;
  padding: 1px 0;
}
.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}
div.logo{
  width: 80%;
  float: left;
}
div.logo img {
  width: 100%;
}
@media only screen and (min-width: 768px){
  div.logo {
    width: 33%;
  }
}

/**Main menu**/

nav.main-menu {
  display: none;
  width: 100%;
}
nav.main-menu a {
  font-family: 'Oswald', sans-serif;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  transition: all .6s ease;
  width: 100%;
  display: block; 
  text-align: center;
  clear: both;
}
nav.main-menu a.program:hover {
  color: #f2cb05;
  background-color: #8a1381;
  
}
.calendar:hover {
  color: #1bbfa1;
  background-color: #f2cb05;
}
.artist:hover {
  color: #8a1381;
  background-color: #1bbfa1;
}
@media only screen and (min-width: 768px){
  nav.main-menu {
    width: 67%;
    float: right;
    text-align: right;
    display: block;
  }
  nav.main-menu a {
    padding: 2%; 
    display: inline-block;
    width: auto;
    text-align: center;
    margin: 0 0 0 0; 
  }
}
div.movil-menu span{
   height: 8px;
   margin-bottom: 6px;
   background-color: #fff;
   display: block;
}
div.movil-menu{
  width: 60px;
  display: block;
  float: right;
  text-align: right;
  margin-top: 12px;
}
div.movil-menu:hover{
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  div.movil-menu {
  display: none;
 }
}



/**Program section**/
section.program {
  position: relative;
}
div.video-content {
  max-width: 100%;
  overflow-x: hidden;
}
div.video-content::before {
    content:'';
    position: absolute;
          top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6); 
}
div.content-event {
  margin-left: 10%;
  background-color: rgba(7, 211, 201, 0.89);
  border-radius: 20px;
  width: 70%;
}
div.program-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.event-program {
  font-size: 2rem;
  color: #8a1381;
}
@media only screen and (min-width:768px){
  div.event-program {
    width: 70%;
  }
}
@media only screen and (min-width: 992px){
  div.program-event{
    width: 50%;
    margin-left: 22%;
  }
}
nav.menu-program{
  width: 50%;
  margin-left: 20%;
}
@media only screen and (min-width: 768px) {
  nav.menu-program {
    display: table;
  }
}

nav.menu-program a {
  display: block;
  text-align: center;
  color: #f2f2f2;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 10px;
  font-size: 1.2rem;
  /**position: relative; */
  padding-bottom: 10px;
}
nav.menu-program a.activo::after {
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  height: 20px;
  width: 30px;
  bottom: -20px;
}
@media only screen and (min-width:768px) {
  nav.menu-program a {
    display: table-cell;
  }
}
nav.menu-program a , div.event-details p {
  color: #fff;
  font-size: 1.5rem;
  margin-right: 10px;
  
}
/**div.hidden {
  display: none;
} **/

/** Event Details **/
div.event-details {
  margin-top: 20px;
  border-bottom:  1px solid #000;
  padding: 0 20px;
}
dv.event-details:nth-child(2){
  border: none;
}
div.event-details p {
   
   font-size: 1rem;
   margin-top: 30px;
} 



/**Artist section**/
ul.artist-list li {
  padding: 5px;
  float: left;
}

@media only screen and (min-width:480px) {
  ul.artist-list li {
    width: 50%;
  }
}
@media only screen and (min-width:768px) {
  ul.artist-list li {
    width: 32%;
  }
}

/** Codigo nuevo de artitas **/

/**Posible codigo que sea general 
div.artist {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
} **/




/**Hernan Cattaneo **/
div.artist-hernan {
  background-image: url(../img/Hernan.JPG);
  background-size: cover;
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center; 
}
.artist-info-hernan p{
  display: none;
  margin-top: 35%;
  margin-left: 28%;
  font-size: 1.2rem;
  font-weight: 700;
  -webkit-transition: all .5s ease-in-out;
  color: #f2f2f2;
  text-transform: uppercase;
  overflow: hidden;
  text-decoration: none;
}
.artist-hernan:hover > .artist-info-hernan {
  background-color:rgba(14, 184, 196, 0.644);
  width: 100%;
  height: 360px;
  -webkit-transition: all .6s ease;
}
.artist-hernan:hover > .artist-info-hernan p {
  display: block;
  position: absolute;
  -webkit-transition: all .5s ease;
}

/**Nick Warren**/
div.artist-nick {
  background-image: url(../img/NickWarren.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center; 
}
.artist-info-nick p{
  display: none;
  margin-top: 35%;
  margin-left: 28%;
  font-size: 1.2rem;
  font-weight: 700;
  -webkit-transition: all .5s ease-in-out;
  color: #f2f2f2;
  text-transform: uppercase;
  overflow: hidden;
  text-decoration: none;
}
.artist-nick:hover > .artist-info-nick {
  background-color:rgba(138, 19, 129, 0.644);
  width: 100%;
  height: 360px;
  -webkit-transition: all .6s ease;
}
.artist-nick:hover > .artist-info-nick p {
  display: block;
  position: absolute;
  -webkit-transition: all .5s ease;
}


/**Mariano Mellino**/
div.artist-mariano {
  background-image: url(../img/Mariano-Mellino.jpg);
  background-size: cover;
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center; 
}
.artist-info-mariano p{
  display: none;
  margin-top: 35%;
  margin-left: 28%;
  font-size: 1.2rem;
  font-weight: 700;
  -webkit-transition: all .5s ease-in-out;
  color: #f2f2f2;
  text-transform: uppercase;
  overflow: hidden;
  text-decoration: none;
}
.artist-mariano:hover > .artist-info-mariano {
  background-color:rgba(242, 34, 72, 0.644);
  width: 100%;
  height: 360px;
  -webkit-transition: all .6s ease;
}
.artist-mariano:hover > .artist-info-mariano p {
  display: block;
  position: absolute;
  -webkit-transition: all .5s ease;
}
/** Guy J **/
div.artist-guyj {
  background-image: url(../img/guyj.webp);
  background-size: cover;
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center; 
}
.artist-info-guyj p{
  display: none;
  margin-top: 35%;
  margin-left: 28%;
  font-size: 1.2rem;
  font-weight: 700;
  -webkit-transition: all .5s ease-in-out;
  color: #f2f2f2;
  text-transform: uppercase;
  overflow: hidden;
  text-decoration: none;
}
.artist-guyj:hover > .artist-info-guyj {
  background-color:rgba(242, 203, 5, 0.644);
  width: 100%;
  height: 360px;
  -webkit-transition: all .6s ease;
}
.artist-guyj:hover > .artist-info-guyj p {
  display: block;
  position: absolute;
  -webkit-transition: all .5s ease;
}
/** Eelke Kleijn **/
div.artist-elke {
  background-image: url(../img/Eelke_Kleijn.jpg);
  background-size: cover;
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center; 
}
.artist-info-elke p{
  display: none;
  margin-top: 35%;
  margin-left: 28%;
  font-size: 1.2rem;
  font-weight: 700;
  -webkit-transition: all .5s ease-in-out;
  color: #f2f2f2;
  text-transform: uppercase;
  overflow: hidden;
  text-decoration: none;
}
.artist-elke:hover > .artist-info-elke {
  background-color:rgba(27, 191, 161, 0.644);
  width: 100%;
  height: 360px;
  -webkit-transition: all .6s ease;
}
.artist-elke:hover > .artist-info-elke p {
  display: block;
  position: absolute;
  -webkit-transition: all .5s ease;
}
/** Nicolas Rada**/
div.artist-nicolas {
  background-image: url(../img/nicolas-rada.jpg);
  background-size: cover;
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center; 
}
.artist-info-nicolas p{
  display: none;
  margin-top: 35%;
  margin-left: 28%;
  font-size: 1.2rem;
  font-weight: 700;
  -webkit-transition: all .5s ease-in-out;
  color: #f2f2f2;
  text-transform: uppercase;
  overflow: hidden;
  text-decoration: none;
}
.artist-nicolas:hover > .artist-info-nicolas {
  background-color:rgba(58, 197, 118, 0.644);
  width: 100%;
  height: 360px;
  -webkit-transition: all .6s ease;
}
.artist-nicolas:hover > .artist-info-nicolas p {
  display: block;
  position: absolute;
  -webkit-transition: all .5s ease;
}

/** Price section **/

ul.price-list > li {
  padding: 14px;
  overflow: hidden;
}
.prices {
  background-color: #1bbfa1;
}
@media only screen and (min-width:768px){
  ul.price-list > li {
    float: left;
    width: 29%;
  }
}
div.price-detail {
  background-color: #b3d4fc;
  padding: 60px 30px 60px 30px;
  text-align: center;
  transition: all .3s ease;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/**ticket **/
p.ticket-title, i.fa-ticket-alt {
  color: #f22248;
  font-size: 1.3rem;
  font-weight: 700;
}
i.fa-ticket-alt {
  font-size: 2rem;
}

a.ticket {
  background-color: #f22248;
  text-decoration: none;
  color: #f2f2f2;
  border-radius: 3px;
  padding: 12px 15px;
  width: 50%;
  margin-top: 5%;
  #b3d4fc
}
/**ticket **/
/**vip**/
h3.vip-title, i.fa-star {
  color: #e9c200;
  font-size: 1.3rem;
  font-weight: 700;
}
i.fa-star {
  font-size: 2rem;
}

a.vip {
  background-color: #e9c200;
  text-decoration: none;
  color: #f2f2f2;
  border-radius: 3px;
  padding: 12px 15px;
  width: 50%;
  margin-top: 5%;
  #b3d4fc
}
/**vip **/
/**camping **/
h3.camping-title, i.fa-campground{
  color: #3ac576;
  font-size: 1.3rem;
  font-weight: 700;
}
i.fa-campground {
  font-size: 2rem;
}

a.camping {
  background-color: #3ac576;
  text-decoration: none;
  color: #f2f2f2;
  border-radius: 3px;
  padding: 12px 15px;
  width: 50%;
  margin-top: 5%;
  #b3d4fc
}
/**camping **/



div.price-detail:hover {
  transform: scale(1.1);
  border: 1px solid #05f2cb;
  box-shadow: 0px 0px 20px rgb(117, 115, 115);
  border-radius: 6px;
}
div.price-detail ul li {
  font-size: 1rem;
  margin-bottom: 50px;

}

p.number {
  margin: 5px 0;
  font-size: 3.5rem;
  font-weight: 700;
  color: #222;

}
p.detail {
  color: rgb(71, 71, 71);
}

a.ticket {
  background-color: #f22248;
  text-decoration: none;
  color: #f2f2f2;
  border-radius: 3px;
  padding: 12px 15px;
  width: 50%;
  margin-top: 5%;
  #b3d4fc
}

/**Testimonials**/
div.testimonials {
  padding-bottom: 10px;
}
div.testimonial {
  padding: 5px;
  margin-left: 4%;
}

@media only screen and (min-width:768px) {
  div.testimonial {
    float: left;
    width: 20%;
  }
}
blockquote {
  position: relative;
  margin:  0 5% 1% 0;
  padding-bottom: 10px;
}
blockquote.p {
  text-align: justify !important;
  font-size: 1rem !important;
  padding: 0 20px 0 65px;
}

.img-testimonials {
 display: flex;
 flex-direction: row;
 width: 100%;
 margin-bottom: 5%;
}
img.img-testimonials {
  width: 250px;
  height: 180px;
  object-fit: contain;
}


/**Newsletter**/
div.newsletter {
  position: relative;
  height: auto;
  background-image: url(../img/john-thomas-LtE6W_JVTGc-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
div.newsletter .content {
  padding: 100px 0;
  color: #b3d4fc;
  text-align: center;
  position: relative;
}
div.newsletter .content p {
  font-size: 1.2rem;
  text-transform: lowercase;
}
div.newsletter .content h3 {
  color: #b3d4fc;
  text-transform: lowercase;
  font-size: 7vw;
  font-family: 'PT Sans', sans-serif;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

